.images {
  display: flex;
  height: 550px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

@media (max-width: 980px) {
  .images {
    justify-content: center;
    width: 100%;
  }
}

.images__carrousel {
  max-width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 980px) {
  .images__carrousel {
    display: block;
  }
}

.images__carrousel img {
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  object-fit: contain;
  border-radius: 4px;
}

.images__carrousel img:hover {
  border: 2px solid #3483fa;
}

.images__main {
  display: flex;
  padding: 44px;
  margin: 0 auto;
}

@media (max-width: 980px) {
  .images_main {
    margin: 0;
  }
}

.images__main img {
  width: 100%;
}

@media (max-width: 980px) {
  .images__main img {
    object-fit: contain;
  }
}
