.publication-seller {
  margin-top: 40px;
}

@media (max-width: 980px) {
  .publication-seller {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 20px;
  }
}

.publication-seller h2 {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 24px;
}

.publication-seller__products {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.product-card {
  width: 225px;
  height: 375px;
  cursor: pointer;
  border: 1px solid #f5f5f5;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
  transition: 0.3s;
}

.product-card:hover {
  box-shadow: 0 7px 11px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.product-card img {
  width: 100%;
  height: 225px;
  object-fit: contain;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.product-card__text {
  padding: 8px 16px 16px 16px;
}

@media (max-width: 980px) {
  .product-card__text {
    width: 90%;
  }
}

.product-card__text p:first-child {
  font-size: 22px;
  font-weight: 400;
  color: #333;
  margin: 0 0 4px 0;
  line-height: 1.15;
}

.product-card__text p:last-child {
  font-size: 14px;
  max-height: 2.6em;
  /* overflow: hidden; */
  color: rgba(0, 0, 0, 0.8);
}
