.product-detail-aside.payments-methods h2 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 28px;
  width: 100%;
}

.product-detail-aside.payments-methods p:last-child {
  color: #3483fa;
  margin-top: 20px;
  cursor: pointer;
}

.methods {
  margin-top: 24px;
}

.methods h3 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
}

.methods p {
  margin-top: 8px;
  margin-bottom: 4px;
}

.methods img {
  margin-top: 14px;
}

.methods__image {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.methods__image img {
  margin: 10px 24px 4px 0;
}
