.ubication h2 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 28px;
}

.product-detail-aside__ubication {
  display: flex;
  gap: 5px;
}

.product-detail-aside__ubication svg {
  height: 18px;
  width: 20px;
  fill: rgba(0, 0, 0, 0.9);
}

.product-detail-aside__ubication__content p:first-child {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.product-detail-aside__ubication__content p:last-child {
  color: rgba(0, 0, 0, 0.55);
  font-size: 14px;
}

.product-detail-aside__reputation__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 6px;
  padding: 0;
  align-items: center;
  margin: 20px 0;
}

.product-detail-aside__reputation__content span {
  height: 8px;
}

.product-detail-aside__reputation__content span:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  background-color: #fff0f0;
}

.product-detail-aside__reputation__content span:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  background-color: #fff5e8;
}

.product-detail-aside__reputation__content span:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
  background-color: #fffcda;
}

.product-detail-aside__reputation__content span:nth-child(4) {
  grid-column: 4;
  grid-row: 1;
  background-color: #f1fdd7;
}

.product-detail-aside__reputation__content span:nth-child(5) {
  grid-column: 5;
  grid-row: 1;
  background-color: #39b54a;
  height: 12px;
}

.product-detail-aside__reputation__stats {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.product-detail-aside__reputation__stats__content {
  align-items: center;
  font-size: 12px;
  line-height: 1;
  padding: 0 5px;
  text-align: center;
  width: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  height: 70px;
}

.product-detail-aside__reputation__stats__content:last-child {
  border-right: none;
}

.product-detail-aside__reputation__stats__content.sale strong {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}

.product-detail-aside__reputation__stats__content__text p {
  width: 100%;
  line-height: 1;
  margin-top: 8px;
  font-size: 12px;
}

.product-detail-aside__iconOne {
  color: rgb(46, 46, 46);
  font-size: 25px;
}

.product-detail-aside__iconTwo {
  position: relative;
  right: 10px;
  margin-right: -10px;
  color: #39b54a;
  background-color: #fff;
}
