.navbar {
  display: flex;
  flex-direction: column;
  background-color: #fff159;
  padding: 8px;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 980px) {
  .navbar__menu {
    justify-content: flex-start;
  }
}

.navbar__menu__logo__movil {
  display: none;
}

@media (max-width: 980px) {
  .navbar__menu__logo__movil {
    display: block;
  }
}

.navbar__menu__logo__desktop {
  display: block;
}

@media (max-width: 980px) {
  .navbar__menu__logo__desktop {
    display: none;
  }
}

.navbar__menu__form {
  width: 49%;
}

@media (max-width: 980px) {
  .navbar__menu__form {
    width: 100%;
  }
}

.navbar__menu__form__input-group {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 980px) {
  .navbar__menu__form__input-group {
    width: 95%;
    margin: 0 auto;
  }
}

.navbar__menu__form__input-group input {
  width: 100%;
  height: 37px;
  padding-left: 15px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.navbar__menu__form__input-group input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.navbar__menu__form__input-group button {
  cursor: pointer;
  background-color: #fff;
  border: none;
}

.navbar__menu__form__input-group button svg {
  font-size: 40px;
  color: #333;
}

.navbar__menu__form__input-group__icon {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar__publicity img {
  max-width: 340px;
  max-height: 39px;
}

@media (max-width: 980px) {
  .navbar__publicity img {
    display: none;
  }
}

.navbar__hamburger-menu {
  display: none;
}

.navbar__hamburger-menu svg {
  font-size: 20px;
}

@media (max-width: 980px) {
  .navbar__hamburger-menu {
    display: flex;
  }
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 3px 0;
}

@media (max-width: 980px) {
  .navbar__links {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 8px;
  }
}

.navbar__links__ubication__container {
  display: flex;
  width: fit-content;
}

@media (max-width: 980px) {
  .navbar__links__ubication__container {
    width: 100%;
    align-items: center;
  }
}

.navbar__links__ubication__container svg {
  font-size: 25px;
}

@media (max-width: 980px) {
  .navbar__links__ubication__container svg {
    font-size: 18px;
  }
}

.navbar__links__ubication__container__text {
  cursor: pointer;
}

.navbar__links__ubication__container__text p:first-child {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
}

.navbar__links__ubication__container__text p:last-child {
  font-size: 14px;
  color: #333;
}

@media (max-width: 980px) {
  .navbar__links__ubication__container__text {
    display: flex;
    gap: 5px;
  }
}

@media (max-width: 980px) {
  .navbar__links__ubication__container__text p {
    font-size: 12px !important;
    color: #333 !important;
  }
}

.navbar__links__list {
  display: flex;
  align-items: flex-end;
  padding: 4px;
}

@media (max-width: 980px) {
  .navbar__links__list {
    display: none;
  }
}

.navbar__links__list.user-data li {
  color: #333;
}

.navbar__links__list.user-data li:last-child {
  display: flex;
  font-size: 20px;
}

.navbar__links__list li {
  margin-right: 25px;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.6);
  font-weight: 100;
  cursor: pointer;
  transition: 0.2s;
}

.navbar__links__list li:hover {
  color: #333;
}
